.imC{
  height: 250px;
  width: 280px;  
  margin-left: 25px;
  border:solid 2px #22004b;
  }


.btn-purple{
background-color: #1e043d;
color: #fff;
margin-left: 102px;
}

.btn-purple:hover{
color: #fff;
}

.img1{
float: right;
margin-top:200px;
margin-left:-30px;
margin-right:85px;
height: 180px;
width: 220px;
}
.img2{
float: right;
margin-top: 88px;
height: 180px;
width: 220px;
}

.contC{
margin-top: 60px;
}

.rwo{
margin-left: 50px;
}



.imgF{
  margin-left:-86px;
}



/* Page choix test/inscription */

.buttonC {


padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 2.5 ; /* Safari */
transition-duration: 1.8s;
cursor: pointer;
margin-left:350px; 
margin-top: 80px;
background-image:url(https://img.freepik.com/photos-gratuite/stylo-plume-lettre-manuscrite-antique_93675-44874.jpg?size=626&ext=jpg);
background-repeat: no-repeat;
background-size: 1200px;
}


.buttonC1 {
background-color: white; 
color: black; 
border: 2px solid #1e043d;;
height: 450px;
width: 1200px;
box-shadow:12px 12px 5px 5px grey;
}

.buttonC1:hover {
background-color: #fff;
color: white;
}

h2{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

h4{
  font-style: italic;
  color: #1e043d;
}

h5{
font-style: italic;
color:#ff1b12;  }


